__pycache__
.history
.hypothesis/
.tox/
build/deployments/dev
build/contracts/*
build/interfaces/*
build/tests.json
venv/
chaindb/
ganache-out.txt
.certora_config
.last_confs
.pytest_cache
.certora*.json
node_modules/*
hardhat.config.js
artifacts/*
cache/*
*/.env
.env