compiler:
  solc:
    version: 0.7.6
    optimizer:
      enabled: true
      runs: 200
    remappings:
      - "@openzeppelin=OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7"

networks:
  default: hardhat-fork
  development:
    cmd_settings:
      port: 8646
      accounts: 20
      mnemonic: owner dignity sense
      log: ganache-out.txt
      default_balance: 100000
  hardhat-fork:
    cmd_settings:
      fork_block: 13986174

reports:
  exclude_paths:
    - interfaces/**/*.*

dependencies:
  - compound-finance/compound-protocol@2.8.1
  - OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7
