compiler:
  solc:
    optimizer:
      enabled: true
      runs: 200
    remappings:
      - "@openzeppelin=OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7"
      - "@openzeppelin-4.6=OpenZeppelin/openzeppelin-contracts@4.6.0"
      - "@openzeppelin-4.6/contracts-upgradeable=OpenZeppelin/openzeppelin-contracts-upgradeable@4.6.0/contracts"

networks:
  default: development
  development:
    cmd_settings:
      port: 8646
      accounts: 20
      mnemonic: owner dignity sense
      default_balance: 100000
  mainnet-fork:
    cmd_settings:
      fork_block: 17061080
reports:
  exclude_paths:
    - interfaces/**/*.*
dependencies:
  - compound-finance/compound-protocol@2.8.1
  - OpenZeppelin/openzeppelin-contracts@3.4.2-solc-0.7
  - OpenZeppelin/openzeppelin-contracts@4.6.0
  - OpenZeppelin/openzeppelin-contracts-upgradeable@4.6.0
